<h1>Registro de persona</h1>

<%= link_to publications_path, class:"ui blue icon button" do %>
    <i class="reply icon"></i>
<% end %>
<br/>
<%= link_to root_path, class:"ui green icon button" do %>
    <i class="home icon"></i>
<% end %>

<%= render 'form', publication: @publication %>


